html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #101010;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  background: #1f1f1f7e;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px #00000099, 0 0 10px #ffffff0d;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  cursor: default;
}
.container:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
.task-input {
  display: flex;
  gap: 12px;
}
input,
button {
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 1rem;
  transition: 0.3s;
}
input {
  flex: 1;
  background: #2a2a2a7c;
  color: #ffffff;
}
input:focus {
  background: #14141400;
  box-shadow: 0 0 0 2px #ffffff;
  transform: scale(1.02);
}
input:hover {
  background: #14141400;
  box-shadow: 0 0 0 2px #ffffff;
  transform: scale(1.02);
}
#addBtn {
  background: #3bf6e062;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
#addBtn:hover {
  background: #3bf6a552;
  transform: scale(1.1);
}
ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  flex: 1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #3bf6e0b9 transparent;
}
ul::-webkit-scrollbar {
  width: 6px;
}
ul::-webkit-scrollbar-thumb {
  background: #3bf6e0b9;
  border-radius: 3px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
li:hover {
  background: #3bf6e00b;
}
.task-text {
  flex: 1;
  word-break: break-word;
}
li button {
  background: transparent;
  color: #3bf6e062;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}
li button:hover {
  transform: scale(1.2);
}
.toggle:hover {
  color: #3bf6a57c;
  transition: 0.3s;
}
.delete:hover {
  color: #f63b3b71;
  transition: 0.3s;
}
.done {
  text-decoration: line-through;
  opacity: 0.5;
}
